.skill__section {
    width: 100%;
    overflow: hidden;
}

.skills__container {
    padding: 60px 40px;
    display: flex;
    width: min(1200px, 100%);
    margin: auto;
    gap: 40px;
    transform: translateX(-20%);
}

.skills__container__active {
    padding: 60px 40px;
    display: flex;
    width: min(1200px, 100%);
    margin: auto;
    gap: 40px;
    transform: translateX(0%);
    animation: slideup 0.5s forwards;
}

@keyframes slideup {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateY(0%);
    }
}



.skills__childs {
    flex-basis: 50%;
}

.skills__childs>div {
    padding: 0 0 15px 0;
}

.skills__childs>h1,
p {
    padding: 10px 0;
}

.skills__name {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

.progress__bar {
    background: rgba(0, 0, 0, .05);
    height: 5px;
    position: relative;
    width: 100%;
    border-radius: 100px;
}

.progress-value {

    /* Set default value */
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #000;
    height: 5px;

    /* Use CSS variable to set width */
}

@keyframes load {
    from {
        width: 0;
    }

    to {}
}

@media screen and (max-width:993px) {

    .skills__container,
    .skills__container__active {
        flex-direction: column;
        padding: 0 20px;

    }
}
/* https: //docs.google.com/spreadsheets/d/e/2PACX-1vSqjxYcj9hmFci-lxX2QK1dkSWvhsxiQZ9EofntA33Lb_TXqdbfGpo-SCNrySihFD7ao2YuaVv3XXAH/pub?output=csv */

/* 
https: //script.google.com/macros/s/AKfycbxiLcbs5YCfMNnnOSyd2GP4keX568tf495ZNtuFLFHrjhXXLKOPKdUVecgIiKQf_88/exec
 */