.header__main__container {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: min(1200px, 100%);
    height: 60px;
    z-index: 99;
    color: white;
}

.bg__transparent {
    background-color: transparent;
}

.bg__black {
    background-color: #000;
}


.logo__text {
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 24px;
}

.header__child {
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__items {
    padding: 0 20px;
    cursor: pointer;
}

@media screen and (max-width:778px) {

    .nav__list {
        display: none;
    }
}