.header__main__container {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: min(1200px, 100%);
    height: 60px;
    z-index: 99;
    color: white;
}

.bg__transparent {
    background-color: transparent;
}

.bg__black {
    background-color: #000;
}


.logo__text {
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 24px;
}

.header__child {
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__items {
    padding: 0 20px;
    cursor: pointer;
}

.menu {
    display: none;
    z-index: 999;
}

.artboard {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 10px;
    /* right: 10px; */
}

.artboard .overlay {
    width: 100%;
    height: 100%;
    transition: 0.4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.artboard .overlay:hover {
    border-color: #D7263D;
    cursor: pointer;
}

.artboard .overlay:hover .button:before,
.artboard .overlay:hover .button:after {
    width: 20px;
}

.artboard .button {
    width: 35px;
    height: 5px;
    background: #ffffff;
    transition: 900ms 175ms cubic-bezier(0.6, -0.46, 0.21, 1.3);
}

.artboard .button:before,
.artboard .button:after {
    content: "";
    transition: 400ms cubic-bezier(1, -0.81, 0.17, 1.2);
    width: 35px;
    height: 5px;
    display: flex;
    background: #ffffff;
    position: relative;
}

.artboard .button:before {
    transform-origin: right;
    top: -10px;

}

.artboard .button:after {
    bottom: -5px;
    transform-origin: left;
    float: right;
}

.artboard .actives {
    border-radius: 50%;
    background: #dc2626;
    border-color: #000;
    transform: rotate(270deg);
}

.artboard .actives .button {
    transform: rotate(-45deg);
}

.artboard .actives .button:before {
    left: -2px;
    top: -3px;
}

.artboard .actives .button:after {
    left: 3px;
    top: -3px;
}

.artboard .actives .button:before,
.artboard .actives .button:after {
    width: 20px;
    transform: rotate(-90deg);
}

.mobile_menu {
    height: 70vh;
    width: min(250px, 100%);
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    font-size: 24px;
    transition: all 0.4s ease-in-out;

}

.menu__show {
    transform: translateX(0);
}

.menu__hide {
    transform: translateX(100vw);
}

.mobile__nav__list {
    list-style: none;

}

.mobile__nav__items {
    padding: 20px 0 0 10px;
}

@media screen and (max-width:778px) {

    .nav__list {
        display: none;
    }

    .menu {
        display: block;
    }
}