.footer__main {
    width: 100%;
    background-color: black;
}

.footer__container {
    width: min(1200px, 100%);
    margin: auto;
    padding: 20px 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__icons {
    display: flex;
    gap: 20px;
    font-size: 22px;
    color: white;
    justify-content: center;
}

.footer_icon {
    color: white;
}

.footer__icons>* {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.footer__icons>*:hover .footer_icon {
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    color: red;
}

.normal_btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:778px) {
    .footer__container {
        flex-direction: column;
    }

}