.slider__container {
    width: 90%;
    padding: 40px 2%;
    margin: auto;
}

.slick-arrow {
    display: none !important;
}

.skills__logo {
    color: #d5d5d5;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}

.skills__logo:hover {
    color: #2d2d2d;
    transition: color 0.3s;
}